.header{
  background-color: #2e3136;
  padding: 20px;
  text-align: center;
}

.header-item-container {
  position: relative;
  display: inline-block;
}

.header-item-btn{
  width: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown {
  position: absolute;
  top: 110%; /* Exibe logo abaixo do botão */
  left: -13%;
  background-color: #2e3136;
  border-radius: 10px;
  padding: 3px;
  z-index: 1000;
  width: 150px;
  border: 1px solid #ccc;
}

.btn-opc{
  width: 95%;
  margin-top: 3px;
  font-size: 12px;
}

.modal-addUsers{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 400px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.title-h1{
  font-size: 24px;
  font-weight: bold;
  margin: 20px;
  color: #000;
  text-align: center;
}
